.itemDetail{

    min-height: 20vh!important;
    min-width: 20vw!important;
    text-align: center!important;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 20px;

}

.rowGlobalItemDetail {

    padding-top: 100px!important;
    display: block;
    height: 100vh!important;
    width: 100vw!important;
    
}

.rowNumberProduct {

    width: 200px;

}

.rowGlobalCount{ 
    width: 100%;
}
.itemGlobal {

    padding-left: 50px!important;
    padding-right: 20px!important;
    display: flex;
}


.itemBody{
    border-color: none;
    width: 50vw;
}

.btnTerminarCompra{
    
    background: rgb(241, 208, 240);
    color: black; 
    text-decoration: none!important;
    border-color:violet ;
}

.btnComprar {
    background: rgb(241, 208, 240);
    color: black; 
    text-decoration: none!important;
    border-color:violet ;
}