.btnGlobal {
    
    background: rgb(241, 208, 240);
    color: black; 
    margin-left: 405px;
    border-color: violet;
    
}

.meli-container {
        background-color: rgb(255, 255, 255);
        margin-top: 50px;
        min-height: 100vh;
        min-width: 100vw;
}
    