.btn-item {
    color: rgb(165, 44, 124)!important;
    font-size: large;
    padding-right: 2rem!important;
    padding-left: 2rem!important;
    font-weight: bold;;
}

.btn-item:hover{
    background-color: rgb(241, 208, 240);
    border-radius:5px ;
    
}
.cartBadge{
    background-color: orange;
    color: white;
}
